#menu
{
    width:auto;
    height:50px;    
    background:green;
}

/*超链接样式*/
a
{    
    display:block;              /*一块元素方式显示*/
    background:#ccc;             /*背景*/
    color:Gray;                 /*字体颜色*/
    text-decoration:none;       /*下划线*/
    width:50px;                 /*块宽度*/
    height:30px;                  /*块高度*/
    text-align:center;          /*文字水平对齐方式*/ 
    margin-left:5px;            /*与左边元素的距离*/
    padding-top:10px;
    
}

/*列表样式*/
ul
{
   list-style:none;             /*列表项符号设置 无符号*/ 
}

/*列表项样式*/
li
{
    float:left;                 /*元素浮动*/
}

